title: dylanlan-ninja
subtitle: A Temuairan Respite
description: >- # this means to ignore newlines until "baseurl:"
 A collection of adventures, information, and projects from Dylanlan, all related to the 2000s MMORPG called <a href="https://www.darkages.com" target="_blank">Darkages</a>

url: "https://dylanlan.ninja" # the base hostname & protocol for your site, e.g. https://example.github.io
baseurl: "" # the subpath of your site, e.g. /blog

# Navigation
urls:
    # - text: Home
    #   url: /
    - text: About
      url: /about
    - text: Get Started
      url: /get-started
    - text: Context
      url: /context
    - text: Adventure Log
      url: /blog
    - text: QoL
      url: /qol
    - text: Links
      url: /links
    - text: Games
      url: /games
    - text: Memories
      url: /gallery
    # - text: Contact
    #   url : /contact


# Edit Author details (For multi authors check _data/authors.yml)

author_logo: dylanlan.png
author: Dylanlan
author_bio: |
  Hi, my name is Dylanlan, and I am an archer / ninja.
  
  This is just a dorky, whimsical, nostalgic fan-site, for a 2000s MMORPG computer game called <a href="https://www.darkages.com" target="_blank">Darkages</a>.
  Feel free to take a look around, and please let me know if you have any questions about anything! If you're confused about what you're seeing, feel free to check out the "Context" page
  
  I can be messaged on Discord with ID "dylanlan2", or in-game as "Dylanlan" or "NaLyd".
  
  I hope to see you around Temuair, fellow Aisling! :D
  
  
author_email: "dylanlan.darkages@gmail.com"
author_location: Canada
author_website_url: "https://dylanlan.ninja"
typewrite-text: Hello, fellow Aisling. Thanks for stopping by!
hero_cover_img: da-login-screen.png # replace this for changing homepage cover (eg. try cover.jpeg). Image should be in /assets/img

github_username:  dylanlan

#for comments ( we got Disqus and Hyvor Commenting, uncomment the one you want to use )


# TODO: test these out
# disqus_shortname: dylanlan
# hyvor_talk_website_id: <some-hyvor-id>

# mailchimp embedded form url (newsletter):
# mailchimp_form_url: <some-mailchimp-url>

# contact form - (choose formspress or getform)
# getform_endpoint: <some-guid>
# formspree_email: johndoe@gmail.com

# releases - widget can be (sidebar, modal or embed)
# olvy_organization: devlopr
# olvy_widget_type: sidebar

# syntax highlighter
markdown: kramdown
highlighter: rouge
permalink: pretty

# Choose what to show ( can be true or false)
show_author_work_experiences: false
show_author_education_details: false
show_author_project_details: false

# pagination of posts
paginate: 10
per_page: 10
paginate_path: "/blog/page/:num/"

# minify
# compress_html:
#   clippings: all
#   comments: ["<!-- ", " -->"]
#   endings: all
#   ignore:
#     envs: ['development']

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   layout: archive
#   permalinks:
#     category: '/category/:name/'

collections:
  products:
    output: true
  authors:
    output: true

defaults:
  -
    scope:
      path: "gallery"
    values:
      permalink: /:path/:basename:output_ext
  -
    scope:
      path: ""
      type: authors
    values:
      layout: author
      permalink: /blog/authors/:slug
  -
    scope:
      path: 'assets/**'
    values:
      sitemap: false

# Build settings
plugins:
  - jekyll-paginate
  - jekyll-gist
  # - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-admin

# Jekyll Admin Config
jekyll_admin:
  # hidden_links:
  #   - posts
  #   - pages
  #   - staticfiles
  #   - datafiles
  #   - configuration
  homepage: "posts"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.

### Switching Deployment Strategy (in DEPLOY_STRATEGY) file change the key accordingly:
# none - For no default
# gh-pages - For Github Pages
# firebase - For Firebase Hosting

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - assets/bower_components/isotope-layout/README.md
  - assets/bower_components/icono/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-svg-core/README.md
  - assets/bower_components/ghosthunter/README.md
  - assets/bower_components/nanobar/README.md
  - assets/bower_components/lightgallery/demo/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-brands-svg-icons/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-solid-svg-icons/README.md
  - assets/bower_components/jquery-mousewheel/README.md
  - assets/bower_components/get-size/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome/README.md
  - assets/bower_components/jquery-mousewheel/ChangeLog/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-regular/README.md
  - assets/bower_components/desandro-matches-selector/README.md
  - assets/bower_components/ev-emitter/README.md
  - assets/bower_components/font-awesome/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-solid/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-brands/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-common-types/README.md
  - assets/bower_components/ghosthunter/example/Index.html
  - assets/bower_components/lightgallery/test/lightgallery.html
  - assets/bower_components/masonry-layout/README.md
  - assets/bower_components/imagesloaded/README.md


destination: ./build
